<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contador
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Contador</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="contador-card">
    <ion-card-content>
      <p class="contador-valor">{{ counter }}</p>
      <ion-button color="success" (click)="increase()">+1 Aumentar</ion-button>
      <ion-button color="warning" (click)="decrease()" [disabled]="counter === 0">-1 Disminuir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
