<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Bienvenido</ion-card-subtitle>
      <ion-card-title>{{ studentName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ career }}</p>
      <p>{{ university }}</p>
      <p>Esta aplicación es un laboratorio de navegación por pestañas con Ionic y Angular.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
