<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <ion-title size="large">Perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <div class="perfil-portada"></div>
    <ion-avatar class="perfil-avatar" [class.ocupado]="!isAvailable">
      <img alt="Avatar del estudiante" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
    </ion-avatar>

    <ion-card-header class="perfil-header">
      <ion-card-title>{{ studentName }}</ion-card-title>
      <ion-card-subtitle>{{ career }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div class="perfil-estado">
        <ion-chip class="chip-estado" [class.ocupado]="!isAvailable">
          <ion-label>● {{ isAvailable ? 'Disponible' : 'Ocupado' }}</ion-label>
        </ion-chip>
      </div>

      <ion-list [inset]="true" lines="none">
        <ion-item>
          <ion-icon name="mail-outline" slot="start" class="icono-acento"></ion-icon>
          <ion-label>{{ email }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="logo-github" slot="start" class="icono-acento"></ion-icon>
          <ion-label>{{ github }}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="location-outline" slot="start" class="icono-acento"></ion-icon>
          <ion-label>{{ city }}</ion-label>
        </ion-item>
      </ion-list>

      <ion-button expand="block" shape="round" [color]="isAvailable ? 'success' : 'danger'" (click)="toggleStatus()">
        <ion-icon name="swap-horizontal-outline" slot="start"></ion-icon>
        Cambiar estado
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
